.timer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.timer-animation {
    width: 300px;
    height: 300px;
}

.timer-direction {
    font-size: 3rem;
    line-height: 1;
    text-align: center;
    color: magenta;
}

.timer-controls {
    display: flex;
    overflow: hidden;
    gap: .5rem;
    align-content: center;
    justify-content: center;
}

.timer-footer {
    display: flex;
    justify-content: space-between;
    min-width: 325px;
}